<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vendor and Order Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color: #DFDFDF">
  <div class="container">
    <div class="jumbotron" style="text-align: center; background-color: beige;">
      <h1>Welcome to The Vendor and Order Tracker!</h1>
    </div>
    <a href="/Vendors">See list of vendors</a>
  </div>
</body>

</html>