<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Order</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color: #DFDFDF">
  <div style="text-align: center;">
    <div class="jumbotron" style="text-align: center; background-color: beige;">
      <h1>Order Forum!</h1>
    </div>
    <form action="/vendors/Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="Model.Id">
      <label for="orderTitle">Title:</label>
      <input id="orderTitle" name="orderTitle" type="text"><br>
      <label for="orderDate">Date:</label>
      <input id="orderDate" name="orderDate" type="text"><br>
      <label for="orderDescription">Description:</label>
      <input id="orderDescription" name="orderDescription" type="text"><br>
      <label for="orderPrice">Pric: $</label>
      <input id="orderPrice" name="orderPrice" type="number"><br>
      <button type='submit' class="btn btn-dark">Add Order</button>
    </form>
  </div>
</body>

</html>