@{
  Layout = "_Layout";
}




<body>
  <h1>Add a Vendor Listing!</h1>

  <form action="/vendors" method="post">
    <label for="vendorName">Vendor Name</label>
    <input id="vendorName" name="vendorName" type="text"><br>
    <label for="vendorDescription">Vendor Description</label>
    <input id="vendorDescription" name="vendorDescription" type="text"><br>
    <button type="submit" class="btn btn-dark">Add</button>
  </form>

  <a href='/vendors'>View Vendor List</a>
  <br>
  <a href='/'>Back to Homepage</a>
</body>
